html {
    position: relative;
    min-height: 100%;
}
body {
    margin-top: 60px;
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
*:focus {
    outline: none
}
.header {
    background-color: transparent;
    border-color: transparent;
}
.quicksearch {
    padding-left: 0;
    margin-bottom: 20px;
    width: 95.5%;
    background: white;
    z-index: 1;
}
.fullsearch .list-group-item{
    border:0;
    z-index: 0;
}
ul.fullsearch li:hover, ul.quicksearch li:active, ul.quicksearch li:focus {
    color: #3c763d;
    background-color: #dff0d8;
    outline: 0;
    border: 0;
}
ul.quicksearch li:hover, ul.quicksearch li:active, ul.quicksearch li:focus {
    color: #3c763d;
    background-color: #dff0d8;
    outline: 0;
    border: 0;
}
.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

